<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="contas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="cadastro" (ngSubmit)="registrarConta()"> 

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select multiple="false" interface="popover" formControlName="tipo" name="tipo">
            <ion-select-option *ngFor="let tipo of tipos" value={{tipo.id}} >{{tipo.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Valor</ion-label>
          <ion-input type="text" formControlName="valor"  name="valor" [brmasker]="{money: true, decimalCaracter: ','}"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Pago</ion-label>
          <ion-toggle slot="start" formControlName="situacao" name="situacao" color="success"></ion-toggle>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Descrição</ion-label>
          <ion-input type="text" formControlName="descricao" name="descricao"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Data de vencimento</ion-label>
          <ion-datetime doneText="Selecionar" cancelText="Fechar" displayFormat="DD/MM/YYYY" formControlName="vencimento" name="vencimento"></ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-button type="submit" expand="block" color="primary">Salvar</ion-button>
    </ion-card>
  </form> 
    <!-- <ion-button expand="block" color="primary" [router-link]="/tipos-add">Novo tipo</ion-button> -->

</ion-content>
