<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Início</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list id="app-list">
    <ion-item *ngFor="let p of appPages; let i = index" [routerLink]="[p.url]" detail >
      <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" [color]="p.color"></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
