<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <div id="card-content">
      <ion-card-header>
        <ion-card-subtitle>Sistemas integrados de Hardware e Software</ion-card-subtitle>
        <ion-card-title>Projetos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Odilon, eu não vou fazer um projeto pra cada atividade porque ocupa espaço demais e eu não uso SSD né gato!?
        Além disso, fingi que estava com tempo e fui fuçar os recursos do frameworks. <br>
        Então, tem um menu lateral onde cada página é uma atividade e os bimestres estão identificados pelos badges.
        Beijos e abraços... <br> pro Neném!
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <a href="https://github.com/emwnuelly/sihs" target="_blank">Meu repositório de SIHS no GitHub. </a>
    </ion-card-content>
  </ion-card>

</ion-content>
