<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastre-se</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pessoas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="cadastro" (ngSubmit)="enviar()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="nome" id="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username" id="username" minlength="3"></ion-input>
      <div class="form-text text-danger">
        <div *ngIf="cadastro.get('username').invalid && (cadastro.get('username').dirty || cadastro.get('username').touched)">
          <small *ngIf="cadastro.get('username').errors.required || cadastro.get('username').errors.minlength">
            Username obrigatório. Mínimo 3 caracteres.
          </small>
        </div>
        <div class="form-text text-danger" *ngIf="verificarUsuario()">
          <small>
            Username já existe
          </small>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="senha" id="senha"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="primary" [disabled]="!cadastro.valid">Salvar</ion-button>
  </form>
</ion-content>