#display{
    text-align: right;
    color: #001700;
    border: 0.063rem solid #050d0b;
    background-color: #b7ffc7;
    font-size: 1.75rem;
    line-height: 1.875rem;
    border-radius: 0.4rem;
}

ion-card{
    background-color: #4be1b5;
}

.first{
    background-color: #041725;
}

.second{
    background-color: #f4055a;
}

.blue{
    background-color: #0205ae
}

.darkGreen{
    background-color: #053727;
}

.lightGreen{
    background-color: #07f020;
}

.happyYellow{
    background-color: #ffda0d;
}