<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Início</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <center>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button routerLink="../conta-add" color="primary">Nova conta</ion-button>
            </ion-col>
            <ion-col>
              <ion-button routerLink="../tipos-add" color="success">Novo tipo</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </center>
  
  <ion-card>
    <ion-list>
      <ion-item-sliding *ngFor="let conta of contas">
        <ion-item>
          <ion-label>{{conta.vencimento}} || {{conta.tipo}}</ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!-- <ion-fab-button><ion-icon name="log-out-outline"></ion-icon></ion-fab-button> -->
      <ion-fab-button routerLink="../tipos"><ion-icon name="pricetag-outline"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="../contas"><ion-icon name="receipt-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
