<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Gerenciar contas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img id="icon" src="assets/img/receipt-yellow.png"></ion-img>

  <form (ngSubmit)="authLogin()">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="text" [(ngModel)]="senha"  name="senha"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-button type="submit" expand="block" color="success">Entrar</ion-button>
    </ion-card>
  </form> 
  <center>
    <p>Não possui uma conta? <ion-router-link href="cadastro">Cadastre-se!</ion-router-link></p>
  </center>

</ion-content>
